@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	text-align:center;
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	background-color:#FFFFCC;
}
a:link,a:visited {
	font-size:18px;
	text-decoration: none;
}
a:hover{}
#container{width:800px;height:600px;margin:10px auto}

#header{
	background:url("../images/logo.png") top left no-repeat;
}
#search{
	margin-left:530px;
}
#searchbox{
	text-align:left;
	width:180px;
	color:#CCC;
	font-size:14px;
	font-style:italic;
}
#menu {padding:0px 0px 0 0}
#menu ul {
	float:right;
    list-style:none;
    margin:0px;
		 }
#menu ul li {
	float:left;
    display:block;
	line-height:30px; 
	margin:0 10px
			 }
#menu ul li a:link,#menu ul li a:visited {
	     font-weight:bold;
	     color:#666
		 }
#menu ul li a:hover{}
#banner {
	width:788px;
	height:1000px;
	margin:auto;
	clear:both;
	border-width: 7px;
	border-style: solid;
	border-color: #EFEFEF;
     }
#banner p{
	font-family: tahoma;
	font-size: 20px;
	font-weight:bold;
}
		 
#resturant{
	height:205px;
	width:800px;

}
#restaurantpic{
	height:205px;
	width:400px;
    float:left;
	margin-right:0;
}
#restaurantinformation{
	height:205px;
	width:380px;
    float:left;
	margin-left:0px;
}
#restaurantinformation p{
	font-style:inherit;
	font-size:18px;
	color:#F03
}
#fooder{
	width:800px;
	margin:0px;
	text-align:center;
}