@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	text-align:center;
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	background-color:#FFFFCC;
}
a:link,a:visited {
	font-size:18px;
	text-decoration: none;
}
#container{width:800px;height:600px;margin:10px auto}

#header{
	background:url("../images/logo.png") top left no-repeat;
}
#search{
	margin-left:530px;
}
#searchbox{
	text-align:left;
	width:180px;
	color:#CCC;
	font-size:14px;
	font-style:italic;
}
#menu {padding:0px 0px 0 0}
#menu ul {
	float:right;
    list-style:none;
    margin:0px;
		 }
#menu ul li {
	float:left;
    display:block;
	line-height:30px; 
	margin:0 10px
			 }
#menu ul li a:link,#menu ul li a:visited {
	     font-weight:bold;
	     color:#666
		 }
#banner {
	width:800px;
	margin:auto;
	clear:both;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
		 }
#pagebody{
	width:800px;
	height:800px;
	margin:0px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
}
#botton{
	border-width: 10px;
	border-style: solid;
	border-color: #FFFFCC;
}
#botton a:hover{
	border:none;
	background-color:#F00;
}	
#product{
	width:200px;
	height:240px;
	margin:auto;
	border-style: solid;
	border-color: #EFEFEF;
	border:1px;
	float:left;
}
#product a:link,#product a:visited {
	     color:#666
		 }
#fooder{
	width:800px;
	margin:0px;
	text-align:center;
background-color:#FFFFCC;
}